{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
  	"it": true,
  	"describe": true,
  	"before": true,
  	"after": true,
  	"beforeEach": true
  },
  "extends": "button",
  "rules": {}
}
